<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/css/ex_login.css">
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="Enter Email" required>
                <input type="password" name="passw" placeholder="Enter Password" required>

                <button type="submit">Login</button>
            </form>
            <a href="/register">Create account</a>
        </div>
    </body>
</html>